* {
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  min-height: 100vh;
}

footer {
  position: absolute !important;
  bottom: 0;
}

footer a:hover {
  color: #fff;
}

/* general */
.bg-page {
  background: linear-gradient(135deg, rgb(48, 34, 58), rgb(241, 56, 0) 75%);
}

.main-container {
  flex-wrap: wrap;
  padding-bottom: 18rem;
}

.modal {
  background-color: rgba(0, 0, 0, 0.397);
}

.btn-primary {
  background-color: rgb(218, 51, 0);
  border: rgb(218, 51, 0);
}

a.btn {
  text-decoration: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: rgb(192, 45, 0) !important;
  border: rgb(192, 45, 0) !important;
  text-decoration: none !important;
}

a {
  color: #666;
  text-decoration: underline;
}

a:hover {
  color: #000;
  text-decoration: underline !important;
}

nav .nav-link {
  text-decoration: none;
}

nav .nav-link:hover {
  text-decoration: none !important;
}

table td,
table th {
  vertical-align: middle!important;
}

/* header */
.logo-header {
  height: 4rem;
  width: 20rem;
}

/* products */
.product-card {
  max-width: 200px;
}

.product-img {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}
